<!doctype html>
<html lang="en" ng-app="main" ng-strict-di>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Enable all requests, inline styles, and eval() see https://github.com/apache/cordova-plugin-whitelist#content-security-policy-->
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; media-src *; img-src *">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!--[if IE]>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <![endif]-->
    <title>AWL app</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body class="platform-cordova" layout="column" flex>
    <ion-nav-bar>
    </ion-nav-bar>

    <ion-nav-view name="sublist"></ion-nav-view>

    <script id="templates/sublists.html" type="text/ng-template">
      <ion-view view-title="Sublists">
        <ion-content>
          <ion-list
            show-delete="shouldShowDelete"
            show-reorder="shouldShowReorder"
            can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in items">
              <a href="#/sublist/{{item.sublist}}">
                <h2>Sublist {{item.sublist}}</h2>
              </a>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/sublist.html" type="text/ng-template">
      <ion-view view-title="Sublist {{sublistId}}">
        <ion-nav-buttons side="primiry">
          <button class="button" ng-click="toSublists()">
            Sublists
          </button>
        </ion-nav-buttons>
        <ion-content>
          <ion-list
            can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in items">
              <h2>{{ item.word }}</h2>
              <ion-option-button class="button-positive">
                {{ item.ru }}
              </ion-option-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>
    <script src="scripts/bundle.js"></script>
  </body>

</html>
